@helper ShowUploadify(string name)
{
    <script>
        $(document).ready(function () {
            $('#fileName').attr("readonly", true);
        })
        $(function () {
            $('#@name').uploadify({
                'swf': '/Scripts/uploadify/uploadify.swf',
                'uploader': '/UserInfo/UploadPhoto',
                'onUploadSuccess': function (file, data, response) {
                    alert(data);
                    $('#fileName').val(data.split(',')[0].replace("\"", ""));
                    $('#PhotoUrl').val(data.split(',')[1].replace("\"", ""));
                }
            });
        });
    </script>
    
}
@helper ModifyTips(dynamic sign)
{
    if (sign == true)
    { 
    <span style="color: green">修改成功</span> 
    }
}
}