@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "系统信息";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>系统信息</title>
</head>
<body>
    <div>
        <br />
        版权所有：辽宁信达检测有限公司
        <br />
        技术支持：辽宁工程技术大学
        <br />
        帮助中心：辽宁信达检测有限公司
        <br />
    </div>
</body>
</html>
