@{
    ViewBag.Title = "Verify";
}

<h2>审核用户</h2>

<table class="easyui-datagrid" title="待审核的用户" style="width: 1000px; height: auto"
    data-options="singleSelect:true,collapsible:true,url:'/UserInfo/GetNotVerifyUserInfos',method:'post',rownumbers:'true',pagination:'true'">
    <thead>
        <tr>

            <th data-options="field:'Name',width:80">用户名</th>
            <th data-options="field:'Password',width:100">密码</th>
            <th data-options="field:'ResponsiblePerson',width:100">负责人</th>
            <th data-options="field:'Company',width:100">所在公司</th>

            <th data-options="field:'District',width:100">所在区（县）</th>
            <th data-options="field:'City',width:100">所在城市</th>

            <th data-options="field:'Province',width:100">所在省份</th>
            <th data-options="field:'pass',width:80,formatter:pass">通过</th>
            <th data-options="field:'del',width:80,formatter:del">删除</th>

        </tr>
    </thead>
</table>

<script>
    function pass(val,row) {
        return "<a href=\"/UserInfo/Verify\">通过</a>";
    }
    function del(val,row) {
        return "<a href=\"/UserInfo/Verify\">删除</a>";
    }
</script>
