@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Barcode</title>
</head>
<body>  
    <div>
        <img id="BarcodeImg" src="/Device/CreateBarcode?code=@ViewBag.Barcode" alt="条形码图片" />
    </div>
</body>
</html>
