<div id="left">
    <div id="left_menu"></div>
    <div id="left_tree">
        <ul>
            <li class="tree_li"><a href="/UserInfo/Edit">会员信息修改</a></li>
            <li class="tree_li"><a href="/UserInfo/ModifyPassword">会员密码修改</a></li>
            <li class="tree_li"><a href="/Device/Create">添加设备</a></li>
            <li class="tree_li"><a href="/Device/Search">设备查询</a></li>
            <li class="tree_li"><a href="/Stoppage/Create">故障登记</a></li>
            <li class="tree_li"><a href="/Stoppage/Search">故障查询</a></li>
            <li class="tree_li"><a href="/Scrap/Create">报废登记</a></li>
            <li class="tree_li"><a href="/Scrap/Search">报废查询</a></li>
            <li class="tree_li"><a href="/Mail/">收件箱</a></li>
            <li class="tree_li"><a href="/UserInfo/ValidateUser">审核注册用户</a></li>
            <li class="tree_li"><a href="/UserInfo/Create">创建管理员账号</a></li>
            <li class="tree_li"><a href="/UserInfo/Search">管理员用户查询</a></li>
            <li class="tree_li"><a href="/Home/SystemInfo">系统信息</a></li>
        </ul>
    </div>
</div>
