@model System.String
<div class="right">
    <div id="right_top">
        <div id="img">
            <img src="/Images/close.gif" />
        </div>
        <span class="imgtext">打开/关闭左栏</span>
        <div id="loginout">
            <div id="loginoutimg">
                <img src="/Images/loginout.gif" />
            </div>
            <span class="logintext"><a href="/UserInfo/Logout">退出系统</a></span>
        </div>
    </div>
    <div id="right_font">
        <img src="/Images/main_14.gif" />
        您现在所在的位置：首页 → <span class="bfont">@Model</span>
    </div>
</div>
