<div id="left">
    <div id="left_menu"></div>
    <div id="left_tree">
        <ul>
            <li class="tree_li">用户属性</li>
            <li class="tree_li">修改密码</li>
            <li class="tree_li">用户查询</li>
            <li class="tree_li">数据统计</li>
            <li class="tree_li">访问记录</li>
            <li class="tree_li">操作日志</li>
        </ul>
    </div>
    <div id="tree_down"></div>
</div>
