@model IEnumerable<Teshe.Models.Mail>

@{
    ViewBag.Title = "Index";
}


<table id="result" class="easyui-datagrid" title="提醒信息"
    data-options="singleSelect:true,collapsible:true,url:'/Mail/Search',method:'post',rownumbers:'true',pagination:'true'">
    <thead>
        <tr>
            <th data-options="field:'Contents',width:750">提醒内容</th>
            <th data-options="field:'SendTime',width:100">时间</th>
        </tr>
    </thead>
</table>

